.vacancy_card{}
.vacancy_card__title{
    cursor: pointer;
}

.hover_off{
    background: inherit !important;
}

/*buttons*/
.btn-outline-default {
    color: #06c;
    background-color: transparent;
    background-image: none;
    border-color: #06c;
}

.btn-outline-default.active{
    background-color: #06c !important;
    color: #fafafa !important;
}
/*buttons*/